# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
.spyderproject
.spyproject

# Jupyter
.ipynb_checkpoints
ipython_config.py

# Test
.coverage
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Data & temp files
data/*

# Keep data folder
!data/.gitkeep

ttt.ipynb
.DS_Store